
.DS_Store

BSWeasel.xcodeproj/project.xcworkspace/xcuserdata/benny.xcuserdatad/UserInterfaceState.xcuserstate

BSWeasel.xcodeproj/xcuserdata/benny.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

*.xcuserstate

*.xcbkptlist
